.title-tile {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 5px;
    overflow: hidden;
    height: 340px;
    width: 200px;
    border-radius: 5px;
    float: left;
    text-align: left;
}

.title-tile:hover {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(173, 171, 173, 0.62);
    -moz-box-shadow: 2px 2px 2px 2px rgba(173, 171, 173, 0.62);
    box-shadow: 2px 2px 2px 2px rgba(173, 171, 173, 0.62);
}

.title-tile {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 5px 2px rgba(173, 171, 173, 0.62);
    -moz-box-shadow: 5px 5px 5px 2px rgba(173, 171, 173, 0.62);
    box-shadow: 5px 5px 5px 2px rgba(173, 171, 173, 0.62);
}

.img-wrapper {
    position: relative;
    padding: 10px;
    text-align: center;
}

.img-wrapper img {
    width: 200px;
    height: 266px;
    border-radius: 5px;
}

.title-tile-wrapper {
    position: relative;
}

.video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
}

video#player {
    width: 100%;
    height: 100%;
}