<div class="title-list">
    <div>titleList count:: {{titleList.length}}</div>
    <div class="title-tile-wrapper">
        <button class="btn btn-link  title-tile" ng-repeat="title in titleList">
            <div class="img-wrapper">
                <img class="img-responsive" ng-src="{{title.coverImageUrl}}"
                     ng-attr-alt="Cover image for {{title.title}}">
            </div>
            <div>
                <strong>{{title.title}}</strong>
                <span ng-class="[{'glyphicon-ok':isWatched(title.id)},'glyphicon','ok-icon']"></span>
            </div>
        </button>
    </div>
</div>